.container { 
    height: auto;
    width: 100vw;
    overflow: hidden;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.box {
    width: 80%;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;

    animation: fade-in 3.8s;

}

.title {
    color: #e1e6e3;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.description {
    font-size: 1rem;
    text-align: justify;

    width: 80%;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;

    animation: fade-in 3.8s;

}

.imgPerfil {
    border-radius: 10%;
    max-width: 200px;
    height: auto;
}

.social {
    width: 80%;
    color: black;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.btnInsta, .btnArte, .btnFace {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: aquamarine;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    cursor: pointer;

}



@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }

}


@media (min-width: 600px) {

  
    .box {
      width: 60%;
      max-width: 800px ;
      height: auto;

    }
  }