.container {
  height: auto;
  overflow: hidden;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 80%;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: justify;

  animation: fade-in 3.8s;

}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 100;

  }
}

.title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10px;
}

.description {
  font-size: 1rem;
  text-align: justify;
}

.pentacle {
  font-size: 2.9rem;
}