.footer {
  width: 100vw;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px darkgray solid;
  
  
  
}

.footer p {
  font-size: 0.9rem;
  color: antiquewhite;
  
  }

@media (min-width: 768px) {
  .footer p {
    padding-bottom: 10px;
  }
}

.moon {
  color: #fca400;
}