
.container {
  height: auto;
  overflow: hidden;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.box {
  width: 80%;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: justify;

  animation: fade-in 3.8s;
 
} 

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
  
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 30%;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.title {
  color: #e1e6e3;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10px;
}

.description{
  font-size: 1.19rem;
  text-align: justify;
}

.btnBox {
  padding: 10px 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btnForm, .btnWpp {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.9rem;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: rgb(226, 173, 0);
}

